.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #282c34;
  color: white;
  padding: 10px 20px;
  font-size: 0.9rem;
}

.title-bar a,
.title-bar a:visited {
  text-decoration: none;
  color: white;
}

.title-bar h2 {
  margin: 0px;
  cursor: pointer;
}

.left-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media only screen and (max-width: 500px) {
  .title-bar {
    padding: 10px 10px;
  }
}
