.App {
  text-align: center;
}

body {
  font-size: 18px;
}

ul {
  padding-inline-start: 20px;
}

.react-pdf__Document {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* This hides metadata from the printed page */
@page {
  size: auto;
  margin: 0mm;
}

@media print {
  .title-bar {
    display: none;
  }
  .title-bar a,
  .title-bar div {
    display: none;
  }
  .react-pdf__Document {
    display: block;
  }
  .react-pdf__Page {
    page-break-after: always;
    transform-origin: top center;
  }
  .react-pdf__Page:nth-of-type(1) ~ .react-pdf__Page {
    margin-top: 35px;
  }
  .extra-page {
    display: none;
  }
}
