.App {
  text-align: center;
}

body {
  font-size: 18px;
}

.react-pdf__Document {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* This hides metadata from the printed page */
@page {
  size: auto;
  margin: 0mm;
}

@media print {
  .title-bar {
    visibility: hidden;
  }
  .react-pdf__Document {
    display: block;
  }
  .react-pdf__Page {
    width: 100%;
    page-break-after: always;
    transform-origin: top center;
  }
  .react-pdf__Page:nth-of-type(2) ~ .react-pdf__Page {
    margin-top: 50px;
  }
  .extra-page {
    visibility: hidden;
  }
}
